<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
  <testsuite name="HAMLE">
    <directory>test/php</directory>
    <exclude>node_modules</exclude>
    <exclude>vendor</exclude>
  </testsuite>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">php</directory>
    </include>
  </source>
</phpunit>
